
body{
    margin: 0px;
}

.nav-desktop
{
    /* dodac fix jesli chcemy desktop by sie nie zwijal */
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between ;
    height: 42px;
    padding: 1rem 0;
}

.nav-items
{
    display: flex;
    padding: 0;
}

.nav-items a
{
    text-decoration: none;
    background-color: transparent;
    border: 0;
    display: flex;
    padding:  6px 0px;
    width: calc(16px + 20vw);
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 540;
    font-size:24px;
    text-align: center;
    letter-spacing: -0.01em;
    transition: top 0.6s 0s, opacity 0.15s 0.15s;
    cursor: pointer;


}

.primary-link
{
    position: relative;
    opacity: 1;
    top:0;
    z-index: 3;
    color: #1A1A1A;

}

.primary-link:hover{
    top: -20px;
    bottom: 40px;
    opacity: 0;
}




.hover-link
{
    position: relative;
    top: -28px;
    opacity: 0;  
    color: #B4B4B4;  

}



.hover-transition-in
{
    top: -42px;
    opacity: 1;
}



.logo
{
    height: 42px;
    padding-left: 80px;
}
    

.nav-mobile
{
    display: none;
}

.d-none
{
    display: none;
}



@media screen and (min-width: 921px) {
    .nav-items a{
            width: 209px;

    }
}

@media screen and (max-width: px) {
    .nav-desktop
    {
        display: none;
    }

    .nav-mobile
    {
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 8px 24px;

        background-color: #FFFFFF;


    }

    .nav-icon
    {
        height: 26px;
        cursor: pointer;
    }

    .logo
    {
        height: 31px;
        padding-left: 0;
    }

    .nav-items
    {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: #FFFFFF;

    }

    .item-group{
        padding: 0px 20px;
        height: 40px;

    }

    .nav-mobile-open
    {
        animation: fade-in 0.4s ease-in;
        /* chuj wie czy o to chodzilo xdd */
    }


    
    
}

.nav-container
    {
        
        position: fixed;
        z-index: 2;
        width: 100%;
        transition: transform 0.5s ease;
        background-color: #FFFFFF;
    }


 
.scroll-down .nav-container
 {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .nav-container
 {
  transform: none;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.webframe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    gap: 128px;
    width: 100%;
}
.font {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.head_section{
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 80px;
}

.head_text{
    font-size: 7.594rem;
    font-style: normal;
    font-weight: 590;
    line-height: 121px;
    letter-spacing: -0.04em;
    color: #1A1A1A;
    margin: 0px;
}

.a_text{
    font-style: normal;
    font-weight: 510;
    font-size: 2.25rem;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #1A1A1A;
}
.h1_heading{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}
.a_heading{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
.portfolio_panel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px;
    width: calc(100% - 160px);
    background: #F5F5F5;
}
.head_portfolio_panel{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 100%;  
}
.title_component{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 0px 0px;
    flex: none;

}
.line{
    width: 100%;
    height: 0px;
    left: 0px;
    top: 2px;
    border: 2px solid #1A1A1A;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title_component_text{
    font-style: normal;
    font-weight: 510;
    font-size: 54px;
    line-height: 65px;
    margin-top: 20px;
    letter-spacing: -0.03em;
    color: #1A1A1A;
    position: static;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.head_image_component img{
    width: 100%;
}
.head_image_component{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}
.img_description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
}
.img_description_a{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 128% */
    letter-spacing: -0.03em;
    color: #1A1A1A;
}
.body_portfolio_panel{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    margin-top: 54px;
    gap: 24px;
}
.body_image_component{
    width: calc(50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    flex-grow: 0;
}
.body_image_component img{
    width: 100%;
}
.portfolio_panel:nth-child()
{
    background-color: #Ffffff;
}
.a_heading{
    width: calc(100%-160);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}
.head_img{
    display: flex;
    width: calc(90% - 10px);
}
.about_component{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px;
width: 100%;
gap: 24px;
}
.about_component_head{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 80px 0px 80px;
width: calc(100% - 160px);
}
.about_head_text{
    font-size: 81px;
    font-style: normal;
    font-weight: 590;
    line-height: 121px;
    letter-spacing: -0.04em;
    color: #1A1A1A;
    margin: 0px;
}
.about_line{
    display: flex;
    border: 2px solid #1A1A1A;
    width: 100%;
    top: 2px;

}
.body_frame{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 0px;
background: #F5F5F5;
width: 100%;
gap: 64px;
}
.about_component_head_text{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
margin: 32px 0px;
font-style: normal;
font-weight: 590;
font-size: 54px;
line-height: 54px;
/* identical to box height, or 103% */
letter-spacing: -0.03em;
color: #1A1A1A;
}
.about_component_description{
    font-style: normal;
font-weight: 510;
font-size: 36px;
line-height: 54px;
/* or 150% */

letter-spacing: -0.03em;

color: #1A1A1A;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
}
.about_component img{
    width: 100%;
    margin-top: 24px;
}
.works_component{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 0px 64px 80px;
    gap: 32px;
    width: 100%;
    margin-top: 128px;
}
.works_title_component{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: calc(100% - 160px);
    gap: 16px;

}
.works_title{
    font-style: normal;
font-weight: 510;
font-size: 54px;
line-height: 54px;
/* or 99% */
letter-spacing: -0.03em;
color: #1A1A1A;
}
.works_content_component{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: calc(100% - 160px);
}
.works_content_component img{
    display: flex;
    width: calc(50% - 20px);
}
.works_component:nth-child(2)
{
    background-color: #F5F5F5;
}


.footer
{
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #253136;

}

.inner_footer
{
    display: block;
    margin: 0 auto;
    width: calc(100% - 160px);
}

.footer_thrid
{
    width: calc(100% - 160px);
    float: left;
}

.socials
{
    margin-bottom: 20px;
    float: right;
    height: 100%;
    gap: 36px;
    display: flex; 
    justify-content: flex-end; 
    position: relative;
    
}
.socials a{
    text-decoration: none;
}
.footer_line
{
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer_title{
    font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 54px;
letter-spacing: -0.02em;
color: #FFFFFF;
}
.contact_button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 80px;
    gap: 16px;
    width: fit-content;
}
.contact_button:hover{
    background-color: #Ffffff;
}
.contact_button:hover >  a{
    color: #253136;
}
.contact_button img:hover{
    fill: #253136;
}
.contact_button img{
    width: 36px;
}
.footer_text{
    font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.01em;
color: #FFFFFF;
}
.contact_button a{
    line-height: 54px;
}




/*@media  screen and (max-width: 1000px) {
    .about_head_text{
        font-size: 54px;    
    }
}*/

@media screen and (max-width: 800px) {
    .head_section{
        padding-left: 24px;
        padding-right: 24px;
    }
    .head_text{
        font-size: 54px;
    line-height: 55px;
    }
    .a_text{
        font-size: 16px;
        line-height: 24px;
    }
    .portfolio_panel{
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px;
width: 100%;
    }
    .body_portfolio_panel{
        padding: 0px;
    }
    .head_portfolio_panel{
        width: 100%;
        flex-direction: column;
        gap: 24px;
    }
    .title_component{
        width: calc(100% - 48px);
        margin: 0px 24px;
    }
    .head_image_component{
        width: 100%;
        margin: 0px;
    }
    .body_portfolio_panel{
        flex-direction: column;
        width: 100%;
    }
    .body_image_component{
        width: 100%;
        margin: 0px;
    }

    .about_component_head{
        padding: 0px 24px 0px 24px;
        width: calc(100% - 48px);
    }
    .about_component_head_text{
        font-size: 36px;
        line-height: 36px;
        margin: 16px 0px;
    }
    .about_component_description{
        font-size: 16px;
        line-height: 24px;
    }
    .body_frame{
        gap: 36px;
    }
    .about_head_text{
        font-size: 36px;
        line-height: 42px;
    }
    .a_heading{
        flex-direction: column;
        width: 100%;
        margin-top: 16px;
    }
    .head_image_component{
        width: 100%;
        margin: 0px;
    }
    .head_img{
        width: 100%;
    }
    .works_content_component{
        flex-direction: column;
        width: 100%;
    }
    .works_content_component img{
        width: 100%;
    }
    .works_component{
        padding: 32px 0px;
    }
    .works_title_component{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: calc(100% - 48px);
        gap: 16px;
        padding: 0px 24px;
    }
    .works_title{
        font-size: 32px;
        line-height: 32px;
    }
    .footer{
        padding: 8px 0;
    }
    .inner_footer{
        width: calc(100% - 48px);
    }
    .footer_thrid{
        width: calc(100% - 48px);
    }
    .footer_title{
        font-size: 24px;
        line-height: 24px;
    }
    .contact_button{
        gap: 8px;
        padding: 0px 16px;

    }
    .contact_button img{
        width: 16px;
    }
    .footer_text{
        font-size: 16px;
        line-height: 16px;
    }



}
